{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'venue/list.css' %}">
{% endblock css %}
{% block title %}
Venues
{% endblock title %}

{% block content %}
<section class="venue-list">
    <div class="row" style="width:100%;">
        <div class="col-md-4">
          <div class="translucent-card">
              <h2>Venues</h2>
              <p>Find the Right Space for Every Occasion.</p>
          </div>
        </div>
        <div class="venue col-md-8">
            <!-- <img class="venue" src="{%static 'venue/venue.webp' %}" alt=""> -->
        </div>
        {% for venue in venues %}
        <div class="col-md-12">
            <div class="card">
                <div class="row">
                  <div class="col-sm-4">
                    <img class="venue_image" src="http://127.0.0.1:8000/static/venue/{{forloop.counter}}.webp" class="card-img-top" alt="{{ venue.venue_name }}">
                  </div>
                  <div class="col-sm-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ venue.venue_name }}</h5>
                        <p>Type: {{venue.venue_type}}</p>
                        <p>Building: {{venue.building.building_name}}</p>
                        <p>Floor: {{venue.venue_floor}}</p>
                        <a href="{{ venue.get_absolute_url }}" class="btn btn-dark button">LEARN MORE</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-md-12">
          <a href="{% url 'StateSpacesHub:venue_add' %}" class="btn btn-light create-button">CREATE A VENUE</a>
        </div>
    </div>
</section>
{% endblock content %}
