{% extends 'base.html' %}
{% load static %}
{% block title %}
  Update Reservation
{% endblock title %}
{% block content %}
  <h3>Edit Reservation</h3>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <br>
    <button type="submit">Save</button>
  </form>
  <a href="{% url 'reservation' pk=view.kwargs.pk %}">
    <button>Cancel</button>
  </a>
  <a href="{% url 'reservation' pk=view.kwargs.pk %}">
    <button>Done</button>
  </a>
{% endblock content %}