.building-detail {
    background-image: url("detailbg.png"); /* Replace with your actual background image URL */
    background-size: contain;
    background-position: top;
    background-repeat: repeat;
    text-align: center;
    width: 100%;
    min-height: 145.27vw; 
}

.building-detail .row {
    margin-top: 20px;
}

.building-detail .card {
    border-radius: 4vw;
    margin-bottom: 20px;
    border: none;
    background: linear-gradient(135deg, rgba(21,21,21,1) 0%,rgba(30,30,30,0.92) 9%,rgba(45,45,45,0.78) 24%,rgba(19,19,19,0.57) 47%,rgba(3,3,3,0.51) 54%,rgba(46,46,46,0.45) 61%,rgba(73,73,73,0.39) 68%,rgba(104,104,104,0.38) 69%,rgba(104,104,104,0.28) 80%,rgba(255,255,255,0.2) 89%,rgba(255,255,255,0.1) 100%);
    box-shadow: 0 0 5px 5px rgba(255,255,255, 0.7);
    transition: transform 0.2s;
    width: 87%; 
    margin: auto;
    min-height: 300px; 
}

.building-detail .col-md-12 {
    margin: 0.75vw;
}

.building-detail .card:hover {
    transform: translateY(-5px);
}

.building-detail .card-img-top {
    height: 200px; 
    object-fit: cover;
    border-radius: 4vw; 
}

.building-detail .card-title {
    margin-top: 3vw;
    font-size: 5vw; 
    color: white;
    font-family: Questrial; 
    text-align: left;
}

.building-detail .card-body p {
    font-size: 1.5vw;
    font-family: Questrial; 
    color: white;
    text-align: left;
}

.building-detail .button {
    background-color: black;
    width: 90%;
    padding: 1.5vw 1.5vw;
    font-size: 2vw;
    font-family: Hanken Grotesk; 
    text-transform: capitalize;
    border-radius: 4vw;
    letter-spacing: 0.2vw;
    margin-left: -8vw; 
}

.building-detail .create-button {
    width: 87%;
    padding: 1.5vw 1.5vw;
    font-size: 2vw;
    font-family: Hanken Grotesk; 
    text-transform: capitalize;
    border-radius: 4vw;
    letter-spacing: 0.2vw;
}

.building-detail .venue_image {
    width: 90%;
    margin-top: 5% !important;
    height: 80%;
    margin: auto;
    object-fit: cover;
    border-radius: 4vw;
}



.translucent-card {
    background-image: linear-gradient(135deg, rgb(0% 0% 0%) 0%, rgb(0.002% 0.002% 0.002% / 0.9999867248535156) 6.25%, rgb(0.024% 0.024% 0.024% / 0.99978759765625) 12.5%, rgb(0.124% 0.124% 0.124% / 0.9989247131347656) 18.75%, rgb(0.391% 0.391% 0.391% / 0.9966015625) 25%, rgb(0.954% 0.954% 0.954% / 0.9917030334472656) 31.25%, rgb(1.978% 1.978% 1.978% / 0.98279541015625) 37.5%, rgb(3.664% 3.664% 3.664% / 0.9681263732910156) 43.75%, rgb(6.25% 6.25% 6.25% / 0.945625) 50%, rgb(10.011% 10.011% 10.011% / 0.9129017639160156) 56.25%, rgb(15.259% 15.259% 15.259% / 0.86724853515625) 62.5%, rgb(22.34% 22.34% 22.34% / 0.8056385803222657) 68.75%, rgb(31.641% 31.641% 31.641% / 0.7247265625) 75%, rgb(43.581% 43.581% 43.581% / 0.6208485412597656) 81.25%, rgb(58.618% 58.618% 58.618% / 0.49002197265625) 87.5%, rgb(77.248% 77.248% 77.248% / 0.3279457092285156) 93.75%, rgb(100% 100% 100% / 0.13) 100% );
    border-radius: 4vw; /* Adjust border-radius as needed */
    color:white;
    text-align: left;  
    margin: 4vw;
    margin-left: 6.5vw !important;
    
}
.translucent-card h2 {
    font-size: 4vw;
    font-family: Questrial;
    padding:4vw;
}
.translucent-card p {
    font-size: 2vw;
    font-family: Questrial;
    padding-top:0 !important;
    padding:4vw;
}
.translucent-card .text {
    padding-left:5% !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.building-detail .card-img-top {
    width: 80%;
    padding-left:10%;
    height: 80%;
    object-fit: cover;
    border-radius: 4vw;
}

.building-detail h1 {
    font-size: 5vw;
    font-family: Questrial;
    padding:4vw;
    color: white;
    text-align: center;
    width:100%;
}